<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <header id="header">
     <nav>
         <div class="container">
             <div class="text-center">
                 <a href="/" class="nav-brand text-dark">Home</a>
             </div>
         </div>

    </nav>
</header>
<main id="site-main">
    <div class="container">
        <div class="box-nav d-flex-justify-between">
            <a href="/addProduct" class="border-shadow">
            <span class="text-gradient">New product </span>
            </a>

        </div>
    </div>
</main>
</body>
</html>